<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @event.name %>
</p>

<p>
  <strong>Date:</strong>
  <%= @event.date %>
</p>

<p>
  <strong>Info:</strong>
  <%= @event.info %>
</p>

<p>
  <strong>Location:</strong>
  <%= @event.location %>
</p>

<p>
  <strong>School:</strong>
  <%= @event.school.name %>
</p>


<p>
  <strong>Club:</strong>
  <%= @event.club.clubname %>
</p>


<p>
  <strong>Time:</strong>
  <%= @event.time %>
</p>
<p>
  <strong>Free:</strong>
  <%= @event.free %>
</p>

<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
