<head>
    <!-- Latest compiled and minified CSS -->


<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

</head>

<!-- Navigation -->
    <nav class="navbar navbar-default navbar-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <%= link_to("Reach", concierge_public_index_path, :class=>'navbar-brand') %>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <%= link_to("Concierge", concierge_public_index_path) %>

                    </li>
                    <li>
                        <% if session[:user_id] %>
                            <%= link_to("My Clubs", my_clubs_public_path(session[:user_id])) %>
                        <% else %>
                            <%= link_to("My Clubs", :action=>"index")%>
                        <% end %>
                    </li>
                    <li>
                        <% if session[:user_id] %>
                            <%= link_to('My Account',account_public_path(session[:user_id])) %>
                        <% else %>
                            <%= link_to('Register',new_user_path) %>
                        <% end %>
                    </li>
                    <% if session[:username] %>
                        <li>
                            <%= link_to('Log out', logout_public_index_path) %>
                        </li>
                    <% else %>
                        <li>
                            <%= link_to('Log in', :action=>'index') %>
                        </li>
                    <% end %>
                    <% if session[:user_id]==1 %>
                        <li>
                            <%= link_to('Manage users', users_path) %>
                        </li>
                    <% end %>

                </ul>

                <form class="navbar-form navbar-right" role="search">
                    <div class="form-group">
                        <%= form_for(:club) do %>

                            <%= text_field_tag(:search, params[:search], :class=>"search_field",:placeholder=>"Search") %>
                            &nbsp;
                            <%= submit_tag("Search",:id=>'search_button') %>
                        <% end %>

                    </div>

                </form>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>