<% @page_title ='Show ' + @club.clubname %>

<%= render(:partial=>'navigation') %>

<div class="container-fluid club_page_container">
	<div class="container">


		<% if flash[:notice] %>
			<br>
			<div class="flash_msg">

				<%= flash[:notice] %>
			</div>
		<% end %>
		<div class="white_text">
			<h1><%= @club.clubname %></h1> 
			
			<table>
				<tr>	
					<% @club.categories.each do |category| %>
						<td>
							<h4><%= link_to(category.name, category_path(category.id), :class=>'white_links') %> </h4>
						</td>
					<% end %>

					<td>
						<h4> &nbsp;/ <%= link_to @club.school.name, '#', :class=>'white_links' %></h4>
					</td>
				</tr>
			</table>
		</div>
		<br>
		<div class="row">

			<div class="col-md-8">
				
				<div class="jumbotron club_bio">

					<h2>Who are we?</h2>
					<hr class="short_hr club_underline">

					<h4>
						<%= @club.description %>
					</h4>
					<br>
					<h2>Our Team</h2>
					<hr class="short_hr club_underline">
					<h4>President: <%= link_to(@president.first_name + " " + @president.last_name, other_accounts_public_path(@president.id)) %></h4>
					<h4>Executives: None </h4>

					<br>				

				</div>

			</div>

			<div class="col-md-4">
				<div class="jumbotron">
					<h2>Join us today!</h2>
					<br>

					<% if session[:user_id] %>
						<% if !check_if_user_is_in_club(@user, @club.clubname) %>
							<%= link_to("Join Club",join_club_public_path(@club.id), :class=>'btn btn-success') %>
						<% else %>
							<%= link_to('Leave Club', leave_club_public_path(@club.id), :class=>'btn btn-danger') %>
						<% end %>
					<% else %>

						<%= link_to("Join Club", new_user_path, :class=>'btn btn-success') %>

					<% end %>
					<br>
					<br>
					<%= pluralize(@club.users.size, "active member") %>
					<br>
					<br>
					<hr>
					<h2>Questions?</h2>
					<h4>Email: 
						<% if !@club.email.blank? %> 
							<%= @club.email %>
						<% else %>
							None
						<% end %>
					</h4>
					<h4>Phone Number: 
						<% if !@club.phone.blank?  %>
							<%= @club.phone %></h4>
						<% else %>
							None
						<% end %>
					<h4>Location: 
						<% if !@club.location.blank? %>
							<%= @club.location %> </h4>
						<% else %>
							None
						<% end %>
				</div>

			</div>

		</div>

		<br>

		<div class="row">
			
			<div class="col-md-6">
				<div class="jumbotron">

					<h2>Upcoming Events</h2>
					<% if @club.events.empty? %>
						<h4>Check back soon!</h4>
					<% else %>
						<% @club.events.each do |event| %>

							<table class="club_events_table table">
								<tr>
									<td class="text-left"><%= event.date %> / <%=event.time%></td>
									<td class="text-left"><%= %></td>
									<td class="text-center"><%= event.name %></td>
									<td class="text-center"><%= event.info %></td>
									<td class="text-center"><%= event.location %></td>
								</tr>
							</table>
						<% end %>
					<% end %>
				</div>
			</div>

			<div class="col-md-6">
				<div class="jumbotron">

					<h2>Updates <span class="glyphicon glyphicon-flag"></span></h2>
					<% if @club.club_updates.empty? %>
						<h4>Check back soon!</h4>
					<% else %>
						<table class="club_updates_table table">
							<% @club.club_updates.each do |update| %>
								<tr>
									<td class="text-left"><%= time_ago_in_words(update.created_at) %> ago</td>
									<td class="text-center"><%= update.title %></td>

									<td class="text-center"><%= update.content %> </td>
								</tr>
							<% end %>
						</table>
					<% end %>

				</div>
			</div>
		</div>

	</div>
</div>