<% @page_title="My Clubs" %>

<%= render(:partial=>'navigation') %>

<div class="container-fluid " id="myclubs_container">

	<h1>My Clubs</h1>
	
	<hr class="short_hr">

	<% if @user.clubs.blank? %>
		<br>
		<br>
		<br>
		<h2>Looks like you're not in any clubs right now.</h2>
		<br>
		<h4>Browse clubs through our <%= link_to("concierge", concierge_public_index_path, :class=>'browse_link') %> service and join one today!</h4>

	<% end %>

	<% @user.clubs.in_groups_of(4).each_with_index do |grouped_clubs, index| %>
		<div class="row">

				<% grouped_clubs.each do |club| %>
					<% if club!= nil %>
						<div class="card col-md-4 col-xs-4 ">
							<br>
							<div class="circle_frame">
								<%= link_to image_tag(club.display_picture.url(:medium), :class=>'card_photo'), club_page_public_path(club.id)%>
							</div>
							<h4 id="club_name">
								<%= club.clubname %>
							</h4>

							<hr class="short_hr">

							<h4>
								<% club.categories.each do |cat| %>
									<%= link_to(cat.name,category_path(cat.id)) %>
								<% end %>
							</h4>
							<%= link_to('Club Info', club_page_public_path(club.id), :class=>'card_action left_action') %>

							<%= link_to('Leave Club', leave_club_public_path(club.id), :class=>'card_action right_action') %>
						</div>
					<% end %>
				<% end %>
			
		</div>
	<% end %>

</div>

