<% @page_title= @user.username %>

<%= render(:partial=>'navigation') %>

<div class="container-fluid other_accounts_container">
	<br>
	<br>
	<div id="other_accounts_name_div">
		<h1 id="other_accounts_name"><%= @user.username %>'s Profile </h1>
	</div>
	<br>
	<hr>
	<br>
	<div class="row">
		<div class="col-md-3"></div>
		
		<div class="col-md-3 col-sm-6">
			<div class="jumbotron">

				<h3><%= @user.first_name + " " +@user.last_name %>  </h3>

				<br>

				<table class="table">
					<tr>
						<th>Year of Study</th>
						<th>Campus</th>
					</tr>
					<tr>
						
					</tr>
					<tr>
						<td><%= @user.year_of_study %></td>
						<td><%= @user.school.name %></td>
					</tr> 
				</table>

				<h4>Contact</h4>
				Email: <%= mail_to(@user.email) %>
				<br>
				<br>
				<%= link_to("Add to network", '#', :class=>'btn add-network-btn')%>		

				<%= mail_to(@user.email, "Contact", :class=>'btn btn-contact') %>
			</div>
		</div>
		
		<div class="col-md-3 col-sm-6">
			<div class="jumbotron">
				<h4><%= @user.username %>'s Clubs</h4>
				<table class="table">
					<tr>
						<th>Name</th>
					</tr>
					<% @user.clubs.each do |club| %>
						<tr>
							<td><%= link_to(club.clubname, club_page_public_path(club.id)) %></td>
							
						</tr>
						
					<% end %>
				</table>
			</div>
		</div>
		<div class="col-md-3"></div>

	</div>
	<br>
</div>

<%= render(:partial=>'footer') %>

