<% @page_title= @user.username %>

<%= render(:partial=>'navigation') %>

<div class="container">
	<br>
	<%= link_to('<< Back to menu', users_path) %>
	<br>
	<br>
	<h1> Information About : <%= @user.username %></h1>
	<br>
	<h4>Account Information </h4>
	<br>
	<table class="table">
		<tr>
			<th>Username</th>
			<th>Email</th>
			<th>Gender</th>
			<th>Year of Study</th>
			<th>Campus</th>
			<th>Account Created On </th>
			<th>Account Last Updated</th>
			<th>Student Number</th>
		</tr>
		<tr>
			
		</tr>
		<tr>
			<td><%= @user.username %></td>
			<td><%= @user.email %></td>
			<td><%= @user.gender %></td>
			<td><%= @user.year_of_study %></td>
			<td><%= @user.school.name %></td>
			<td><%= time_ago_in_words(@user.created_at) + ' ago' %> </td>
			<td><%= time_ago_in_words(@user.updated_at) + ' ago' %></td>
			<td>
				<%= @user.student_number.to_s %>
			</td>
		</tr>
	</table>	

	<h4>Joined Clubs</h4>
		<table class="table">
			<tr>
				<th>Name</th>
				<th>Action</th>
			</tr>
			<% @user.clubs.each do |club| %>
				<tr>
					<td><%= club.clubname %></td>
					<td>
						<%= link_to('View Club', club_path(club.id), :class=>'btn btn-primary') %>
					</td>
				</tr>
				
			<% end %>
		</table>
	<br>
</div>

