<% @page_title="Search Results" %>

<%= render(:partial=>'navigation') %>

<div class="container-fluid search_container">

	
	<div class="container">
		<h2 id="search_title">Search Results</h2>

		<div id="result_container">
			<% if params[:search] %>

				<% if !@search_results.empty? %>
					<table class="table search_table">
						<tr>
							<th class="wide_table_column">Name</th>
							<th>Description</th>
							<th>Category</th>
							<th>Campus</th>
						</tr>

						<% @search_results.each do |result| %>
							<tr>
								<td>
									<h4>
										<%= link_to(result.clubname,club_page_public_path(result.id)) %>
									</h4>
								</td>
								<td class="short_table_data">
									<h5>
										<%= result.description %>	
									</h5>
								</td>
								<td>
									<h4>
										<% result.categories.each do |cat| %>
											<%= link_to("#{cat.name} ",category_path(cat.id)) %>
										<% end %>	
									</h4>
								</td>
								<td>
									<h4>
										<%= result.school.name %>	
									</h4>
								</td>
							</tr>
						<% end %>

					</table>

				<% else %>
					<h2 class="text-center">Oops! There's nothing here. Try another search! </h2>

					<%= image_tag("sad_sticker.png", :class=>'med_square_pic') %>

				<% end %>

			<% else %>

			<% end %>
		</div>
	</div>
</div>